html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.expense__tabs {
  li {
    display: inline-block;
  }
}

.expense__tab {
  text-transform: capitalize;
  text-decoration: none;
}

.header {
  display: flex;
  height: 50px;
}

.logo,
.search,
.gnb {
  flex: 0 0 auto;
}

.logo {
}

.search {
}

.gnb {
  margin-left: auto;
}

.main {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 200px;
}

.contents {
  flex: 1;
  display: flex;
}

.expense {
  display: flex;
  flex: 1;
}

.result {
  flex: 1;
}

.active {
  color: #194f6c;
  font-weight: bold;
}
